.box {
    background-color: rgba(0, 0, 0, 0.244);
    backdrop-filter: blur(20px);
    padding: 2rem;
}

.contenedorInfo h2 {
 font-size: 35px;
}


@media screen and (max-width: 750px) {
    .contenedorInfo {
        padding: 0;
    }
}