.box {
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    padding: 2rem;
    height: 92vh;
}

.contenedorInfo h2 {
 font-size: 35px;
}


@media screen and (max-width: 750px) {
    .contenedorInfo {
        padding: 0;
    }
}